// //clases error 404
.errorBody {
    background: linear-gradient(45deg, #8500ff, #5acaff);
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}

.dignidad {
    background: url(../img404/dignidad.jpg);
    height: 800px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
}