* {
    margin: 0;
    padding: 0;
}

//colores
$bg-white: whitesmoke;
//padding
$py-1: 1em 0;
$px-1: 0 1em;
$p: 1em;
//margin
$mb:0.7em;
//OPERADORES
@for $i from 1 to 5 {
    h#{$i} {
        font-size: 5.5em -$i
    }
}

//clases animacion
.scale:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}