body {
    background: url(../imagenes/blackmamba.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontMain;
    margin-bottom: $mb;
    color: $bg-white;
    text-align: center;
}

p {
    font-family: $fontMain;
    line-height: 1.3em;
    color: $bg-white;
    padding: $p;
    text-align: start;
    font-size: 1.2em;
}

img {
    width: 100%;
}

//clases
.imagen {
    width: 30%;
}

.imagenDos {
    width: 50%;
}

.nuestrosTrabajos {
    ul {
        color: $bg-white;
        font-size: 1.2em;
        font-family: $fontMain;
        li {
            margin-bottom: $mb;
            list-style: none;
        }
    }
}